/* Core */
/* line 2, scss/index.scss */
.clickable {
  cursor: pointer;
}

/* line 5, scss/index.scss */
.accordion {
  cursor: pointer;
}

/* line 8, scss/index.scss */
.name:not(.minus)::before {
  content: "\002B";
}

/* line 11, scss/index.scss */
.thermo .fas:not(.active) {
  display: none;
}

/* Color themes */
/* line 16, scss/index.scss */
.tooltip {
  opacity: 1 !important;
}

/* line 19, scss/index.scss */
.tooltip-inner {
  font-size: 12px;
  background: lightgreen;
  border: 1px solid #737373;
  text-align: left;
  max-width: 80% !important;
  max-height: 80% !important;
  overflow: scroll;
}
/* line 27, scss/index.scss */
.tooltip-inner img {
  width: 100%;
}

/* line 31, scss/index.scss */
.gotos-click {
  color: green;
}

/* line 34, scss/index.scss */
.fa-info:hover, .fa-book-reader:hover, .gotos-click:hover {
  color: darkgreen;
}

/* line 37, scss/index.scss */
.thermo *:nth-child(1) {
  color: lightgray;
}

/* line 40, scss/index.scss */
.thermo *:nth-child(2) {
  color: darkgreen;
}

/* line 43, scss/index.scss */
.thermo *:nth-child(3) {
  color: orange;
}

/* line 47, scss/index.scss */
.thermo *:nth-child(4) {
  color: red;
}

/* Tweaking design */
/* line 52, scss/index.scss */
.fa-info, .fa-book-reader, .gotos-click, .thermo, .multistates-wrapper {
  margin-left: 1ch;
}

/* line 55, scss/index.scss */
.thermo {
  border-left: .1rem solid lightgray;
  padding-left: 6px;
  height: 1.6ch;
  font-size: 10px;
  vertical-align: top;
}

/* line 62, scss/index.scss */
.multistates-wrapper {
  margin-left: 6px !important;
}

/* line 65, scss/index.scss */
.multistates {
  height: .9rem;
  padding-left: 3px !important;
  padding-right: 0 !important;
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
}
/* line 72, scss/index.scss */
.multistates .p1, .multistates .p2, .multistates .p3, .multistates .p4 {
  font-size: .9rem !important;
}

/* line 76, scss/index.scss */
.multistates .p1, .multistates .p4 {
  border-left: 0 !important;
  border-right: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

/* Fieldset layout */
/* line 84, scss/index.scss */
fieldset {
  display: block;
  margin-inline-start: 2px;
  margin-inline-end: 2px;
  padding-block-start: 0.35em;
  padding-inline-start: 0.75em;
  padding-inline-end: 0.75em;
  padding-block-end: 0.625em;
  min-inline-size: min-content;
  border-width: 2px;
  border-style: groove;
  border-color: threedface;
  border-image: initial;
}
/* line 98, scss/index.scss */
fieldset legend {
  display: inline-block !important;
  padding-inline-start: 4px;
  padding-inline-end: 4px;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  border-bottom: 0 !important;
  width: auto !important;
  margin-bottom: 0;
  /* min-width: 0 !important; */
}
