@charset "UTF-8";
/* Page layout - Configurable section */
/* Style */
/* line 5, scss/multistates.scss */
.multistates {
  cursor: pointer;
  vertical-align: top;
  display: inline-block;
  /* Eliminates native behavior that makes the states look like selectable text */
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 18, scss/multistates.scss */
.multistates * {
  vertical-align: top;
}

/* line 21, scss/multistates.scss */
.p1, .p2, .p3, .p4 {
  index: 99;
}

/* Function */
/* mixin:primary */
/* line 49, scss/multistates.scss */
.multistates {
  z-index: 2;
}
/* line 52, scss/multistates.scss */
.multistates .p1, .multistates .p2, .multistates .p3, .multistates .p4 {
  display: inline-block;
  width: 2.5ch;
  height: 2ch;
  cursor: pointer;
}
/* line 58, scss/multistates.scss */
.multistates .p1 {
  border-left: 1px solid rgba(0, 0, 0, 0.15);
}
/* line 61, scss/multistates.scss */
.multistates .p4 {
  border-right: 1px solid rgba(0, 0, 0, 0.15);
  padding-right: 5px;
  width: 3ch;
}
/* line 31, scss/multistates.scss */
.multistates .p1.parentheses::before {
  content: "(\00a0\00a0\00a0)";
}
/* line 34, scss/multistates.scss */
.multistates .p1.square-brackets::before {
  content: "[\00a0\00a0\00a0]";
}
/* line 37, scss/multistates.scss */
.multistates .p1.parentheses.checked::before {
  content: "(✓)";
}
/* line 40, scss/multistates.scss */
.multistates .p1.square-brackets.checked::before {
  content: "[✓]";
}
/* line 43, scss/multistates.scss */
.multistates .p1:not(.parentheses):not(.square-brackets).checked::before {
  content: "\00a0✓\00a0";
}
/* line 31, scss/multistates.scss */
.multistates .p2.parentheses::before {
  content: "(\00a0\00a0\00a0)";
}
/* line 34, scss/multistates.scss */
.multistates .p2.square-brackets::before {
  content: "[\00a0\00a0\00a0]";
}
/* line 37, scss/multistates.scss */
.multistates .p2.parentheses.checked::before {
  content: "(✓)";
}
/* line 40, scss/multistates.scss */
.multistates .p2.square-brackets.checked::before {
  content: "[✓]";
}
/* line 43, scss/multistates.scss */
.multistates .p2:not(.parentheses):not(.square-brackets).checked::before {
  content: "\00a0✓\00a0";
}
/* line 31, scss/multistates.scss */
.multistates .p3.parentheses::before {
  content: "(\00a0\00a0\00a0)";
}
/* line 34, scss/multistates.scss */
.multistates .p3.square-brackets::before {
  content: "[\00a0\00a0\00a0]";
}
/* line 37, scss/multistates.scss */
.multistates .p3.parentheses.checked::before {
  content: "(✓)";
}
/* line 40, scss/multistates.scss */
.multistates .p3.square-brackets.checked::before {
  content: "[✓]";
}
/* line 43, scss/multistates.scss */
.multistates .p3:not(.parentheses):not(.square-brackets).checked::before {
  content: "\00a0✓\00a0";
}
/* line 31, scss/multistates.scss */
.multistates .p4.parentheses::before {
  content: "(\00a0\00a0\00a0)";
}
/* line 34, scss/multistates.scss */
.multistates .p4.square-brackets::before {
  content: "[\00a0\00a0\00a0]";
}
/* line 37, scss/multistates.scss */
.multistates .p4.parentheses.checked::before {
  content: "(✓)";
}
/* line 40, scss/multistates.scss */
.multistates .p4.square-brackets.checked::before {
  content: "[✓]";
}
/* line 43, scss/multistates.scss */
.multistates .p4:not(.parentheses):not(.square-brackets).checked::before {
  content: "\00a0✓\00a0";
}

@-webkit-keyframes ministateAnimate {
  0% {
    background-color: #B2EC5D;
    opacity: 1;
  }
  22% {
    background-color: #7CFC00;
  }
  50% {
    background-color: #66FF00;
  }
  77% {
    background-color: #7CFC00;
  }
  100% {
    background-color: #B2EC5D;
  }
}
/* line 93, scss/multistates.scss */
.ministateAnimate {
  -webkit-animation-name: ministateAnimate;
  -webkit-animation-duration: 200ms;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
}
